html{
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}
#top-bar{
	background-color:white; 
}
#ya{
	background-color:white;
}
.fondo{
	background-color: white;
}
.green{
	color: #2EB872;
}
.Racing{
	font-family: 'Poiret One', cursive;
}
#logo{
	width: 200px;
}
#box2{
	height: 400px;
	width: 700px;
	background-color:#fce8f5;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#box3{
	height: 600px;
	width: 600px;
	margin-left: 30px;
}
#form{
	margin-left: 70px;
}
.centrar{
	margin-left: 120px;
}
#boton{
	margin-top: 22px;
	color:#2EB872;
}
#ok{
	background-color: #f767c5;
}
#link-sesion{
	padding-top: 45px;
}
.rosa{
	color:#f957c7;
}